*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.6;
}

img{
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
p{
    margin: 0;
}

section{
    padding: 7em 0;
}

.container{
    width: 85%;
    margin: 0 auto;
    // auto applies the same amount of margin on both sides to fill the 100%, like saying 7.5% in this case
    max-width: 65em;
}

.spacing> * + *{
    margin-top: var(--spacer, 2rem);
}

.split{
    display:flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    // all children elements
    & > * {
        flex-basis: 30%;
        min-width: 15em;
    }
}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: .5em 1.25em;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125em;
    background-color: var(--clr-accent, blue);
    color: var(--clr-text, white);
    border-radius: .25em;
    transition: transform .25s ease-in-out, opacity .25s linear;
}

.btn:hover,
.btn:focus{
    transform: scale(1.1);
    opacity: 0.8;
}

.primary-title{
    font-size: 4rem;
    font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
    line-height: 1;
    text-transform: uppercase;
}

.section-title{
    text-align: center;
    font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
    // clamp makes the text responsive, first argument is the minimum, second is the rate of growth
    // and the third argument is the max value
    line-height: 1;
    color: rgb(19, 22, 65);
    margin: 3rem 0;
}

.hero{
    color: white;
    text-align: center;
    padding: 15em 0;
    background: #222;
    @supports (background-blend-mode: multiply){
        background: url("img/shoe-3.png"), radial-gradient(#444, #111);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
}

.featured{
    background: #eee;
    &-item{
        display: block;
        position: relative;

        text-decoration: none;
        color:#222;
        text-align: center;
        line-height: 1.2;

        transform: scale(.85);
        transition: transform .25s ease-in-out;

        &:hover,
        &:focus {
            transform: scale(1);

            .featured-details{
                opacity: 1;
                text-shadow: 0 0 1em rgba(#fff, 1);
            }
        }

        &::after{
            content: "";
            position: absolute;
            top: 10%;
            left: 10%;
            // to make the boxes a perfect square
            padding: 75% 75% 0 0;
            // turn the squares into circles
            border-radius: 50%;
            background-color:rgb(68, 147, 172);
            z-index: -1;
        }
    }

    &-details {
        opacity: 0;
        transition: opacity 0.25s linear;

        span{
            display: block;
            font-size: 2rem;
            font-weight: 700;
        }
    }
}


.product{
    background: radial-gradient(var(--clr-inner, limegreen), var(--clr-outer, purple));
    line-height: 1.1;
    padding: 3em;
    border-radius: 3em;
    margin-bottom: 2em;
    text-align: center;

    &-title{
        font-size: 4rem;
        color: #fff;
        text-shadow: 0 0 .2em #111;
    }
}

.hero {
    --clr-accent: #faa700;
}

.shoe-red {
    --clr-inner: #faa700;
    --clr-outer: #e48d00;
    --clr-accent: #a1173c;
}
  
.shoe-white {
    --clr-inner: #fce4b3;
    --clr-outer: #eac886;
    --clr-accent: #2f4858;
}
  
.shoe-blue {
    --clr-inner: #6dd5ed;
    --clr-outer: #2193b0;
    --clr-accent: #008951;
    }